---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/tools/httpheaders?key=<SHODAN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"Content-Length": "", "Accept-Encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
        "Accept": "*/*", "User-Agent": "Ruby", "Host": "api.shodan.io", "Content-Type":
        ""}'
  recorded_at: Wed, 01 May 2019 06:19:22 GMT
recorded_with: VCR 4.0.0
