---
http_interactions:
- request:
    method: post
    uri: https://api.shodan.io/shodan/scan?key=<SHODAN_API_KEY>
    body:
      encoding: UTF-8
      string: '{"ips":"113.197.211.196"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"count": 1, "id": "nuypfFBfN2vKLlj9", "credits_left": 65536}'
  recorded_at: Tue, 30 Apr 2019 02:09:37 GMT
recorded_with: VCR 4.0.0
