---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/shodan/alert/triggers?key=<SHODAN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '[{"name": "any", "rule": "*", "description": "Match any service that
        is discovered"}, {"name": "industrial_control_system", "rule": "tag:ics",
        "description": "Services associated with industrial control systems"}, {"name":
        "malware", "rule": "tag:compromised,malware", "description": "Compromised
        or malware-related services"}, {"name": "uncommon", "rule": "-port:22,80,443,7547",
        "description": "Services that generally shouldn''t be publicly available"},
        {"name": "open_database", "rule": "tag:database -port:3306,5432,9306,1434",
        "description": "Database service that does not require authentication"}, {"name":
        "iot", "rule": "tag:iot", "description": "Service associated with Internet
        of Things devices"}, {"name": "internet_scanner", "rule": "tags:scanner",
        "description": "Device has been seen scanning the Internet and exposes a service"},
        {"name": "ssl_expired", "rule": "ssl.cert.expired:true", "description": "Expired
        SSL certificate is used by the service"}]'
  recorded_at: Tue, 30 Apr 2019 02:10:15 GMT
recorded_with: VCR 4.0.0
