---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/shodan/scan/xRAxRMkMQk5QXuJB?key=<SHODAN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"count": 1, "status": "DONE", "id": "xRAxRMkMQk5QXuJB", "created":
        "2019-04-30T01:00:39.468000"}'
  recorded_at: Tue, 30 Apr 2019 02:06:49 GMT
recorded_with: VCR 4.0.0
