---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/shodan/host/search?facets=country:10&key=<SHODAN_API_KEY>&minify=true&page=1&query=ftp%20port:21
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"matches": [{"ftp": {"features": {"MDTM": {"parameters": []}, "SIZE":
        {"parameters": []}}, "anonymous": true, "features_hash": 616412230}, "product":
        "Microsoft ftpd", "hash": 1512322708, "ip": 401061610, "isp": "Take 2 Hosting",
        "transport": "tcp", "cpe": ["cpe:/o:microsoft:windows"], "data": "220 Microsoft
        FTP Service\r\n230 Anonymous user logged in.\r\n214-The following  commands
        are recognized(* ==>''s unimplemented).\n   ABOR \n   ACCT \n   ALLO \n   APPE
        \n   CDUP \n   CWD  \n   DELE \n   FEAT \n   HELP \n   LIST \n   MDTM \n   MKD  \n   MODE
        \n   NLST \n   NOOP \n   OPTS \n   PASS \n   PASV \n   PORT \n   PWD  \n   QUIT
        \n   REIN \n   REST \n   RETR \n   RMD  \n   RNFR \n   RNTO \n   SITE \n   SIZE
        \n   SMNT \n   STAT \n   STOR \n   STOU \n   STRU \n   SYST \n   TYPE \n   USER
        \n   XCUP \n   XCWD \n   XMKD \n   XPWD \n   XRMD \n214  HELP command successful.\r\n211-FEAT\n    SIZE\n    MDTM\n211
        END", "_shodan": {"crawler": "c4f6dbc45caa04f64112a93cf20c797b31978655", "ptr":
        true, "id": "d673af1d-bcd5-44b3-9f3d-436ed008b3a3", "module": "ftp", "options":
        {}}, "port": 21, "hostnames": [], "location": {"city": "Thousand Oaks", "region_code":
        "CA", "area_code": 805, "longitude": -118.81880000000001, "country_code3":
        "USA", "latitude": 34.196499999999986, "postal_code": "91362", "dma_code":
        803, "country_code": "US", "country_name": "United States"}, "timestamp":
        "2019-04-29T16:26:39.843227", "domains": [], "org": "Take 2 Hosting", "os":
        null, "asn": "AS20248", "ip_str": "23.231.182.234"}, {"ftp": {"features":
        {"LANG": {"parameters": ["de-DE.UTF-8"]}, "MLST": {"parameters": ["modify",
        "perm", "size", "type", "unique", "UNIX.group", "UNIX.mode", "UNIX.owner"]},
        "MFF": {"parameters": ["modify", "UNIX.group", "UNIX.mode"]}, "UTF8": {"parameters":
        []}, "PROT": {"parameters": []}, "AUTH": {"parameters": ["TLS"]}, "SSCN":
        {"parameters": []}, "CCC": {"parameters": []}, "PBSZ": {"parameters": []},
        "REST": {"parameters": ["STREAM"]}, "EPSV": {"parameters": []}, "MFMT": {"parameters":
        []}, "TVFS": {"parameters": []}, "EPRT": {"parameters": []}, "MDTM": {"parameters":
        []}, "SIZE": {"parameters": []}}, "anonymous": false, "features_hash": 2086191072},
        "hash": 210518892, "tags": ["starttls"], "ip": 621928650, "isp": "webgo GmbH",
        "transport": "tcp", "data": "220 webgo FTP Server ready.\r\n530 Login incorrect.\r\n214-The
        following commands are recognized (* =>''s unimplemented):\n CWD     XCWD    CDUP    XCUP    SMNT*   QUIT    PORT    PASV    \n
        EPRT    EPSV    ALLO*   RNFR    RNTO    DELE    MDTM    RMD     \n XRMD    MKD     XMKD    PWD     XPWD    SIZE    SYST    HELP    \n
        NOOP    FEAT    OPTS    AUTH    CCC*    CONF*   ENC*    MIC*    \n PBSZ    PROT    TYPE    STRU    MODE    RETR    STOR    STOU    \n
        APPE    REST    ABOR    USER    PASS    ACCT*   REIN*   LIST    \n NLST    STAT    SITE    MLSD    MLST    \n214
        Direct comments to root@37.17.224.8\r\n211-Features:\n PROT\n LANG de-DE.UTF-8*\n
        CCC\n PBSZ\n AUTH TLS\n MFF modify;UNIX.group;UNIX.mode;\n REST STREAM\n MLST
        modify*;perm*;size*;type*;unique*;UNIX.group*;UNIX.mode*;UNIX.owner*;\n UTF8\n
        EPRT\n EPSV\n MDTM\n SSCN\n TVFS\n MFMT\n SIZE\n211 End", "_shodan": {"crawler":
        "3ea066bd24a3322c814bdf04c5719c13161c3140", "ptr": true, "id": "37c148b1-1c59-4120-8ff4-fde3279ca18a",
        "module": "ftp", "options": {}}, "port": 21, "ssl": {"dhparams": null, "tlsext":
        [{"id": 65281, "name": "renegotiation_info"}, {"id": 11, "name": "ec_point_formats"},
        {"id": 15, "name": "heartbeat"}], "versions": ["TLSv1", "-SSLv2", "-SSLv3",
        "-TLSv1.1", "-TLSv1.2"], "acceptable_cas": [], "cert": {"sig_alg": "sha256WithRSAEncryption",
        "issued": "20181109000000Z", "expires": "20201113235959Z", "pubkey": {"bits":
        4096, "type": "rsa"}, "version": 2, "extensions": [{"data": "0\\x16\\x80\\x14\\x90\\xafj:\\x94Z\\x0b\\xd8\\x90\\xea\\x12Vs\\xdfC\\xb4:(\\xda\\xe7",
        "name": "authorityKeyIdentifier"}, {"data": "\\x04\\x14\\xe6\\x9f\\xe2\\xa3[u\\x1f\\xe7\\x90\\xf9\\x16H\\x15H-\\xef\\x16Bx\\x81",
        "name": "subjectKeyIdentifier"}, {"critical": true, "data": "\\x03\\x02\\x05\\xa0",
        "name": "keyUsage"}, {"critical": true, "data": "0\\x00", "name": "basicConstraints"},
        {"data": "0\\x14\\x06\\x08+\\x06\\x01\\x05\\x05\\x07\\x03\\x01\\x06\\x08+\\x06\\x01\\x05\\x05\\x07\\x03\\x02",
        "name": "extendedKeyUsage"}, {"data": "0F0:\\x06\\x0b+\\x06\\x01\\x04\\x01\\xb21\\x01\\x02\\x02\\x070+0)\\x06\\x08+\\x06\\x01\\x05\\x05\\x07\\x02\\x01\\x16\\x1dhttps://secure.comodo.com/CPS0\\x08\\x06\\x06g\\x81\\x0c\\x01\\x02\\x01",
     [...]
