---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/dns/domain/shodan.io?key=<SHODAN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"domain": "shodan.io", "tags": ["ipv6", "spf"], "data": [{"subdomain":
        "", "type": "NS", "value": "lady.ns.cloudflare.com", "last_seen": "2019-06-30T11:17:42.459369+00:00"},
        {"subdomain": "", "type": "NS", "value": "ed.ns.cloudflare.com", "last_seen":
        "2019-06-30T11:17:42.453308+00:00"}, {"subdomain": "", "type": "A", "value":
        "104.27.75.9", "last_seen": "2019-06-30T11:17:42.470903+00:00"}, {"subdomain":
        "", "type": "A", "value": "104.27.74.9", "last_seen": "2019-06-30T11:17:42.472731+00:00"},
        {"subdomain": "", "type": "A", "value": "104.25.89.97", "last_seen": "2019-05-24T10:43:11.712434+[...]
