---
http_interactions:
- request:
    method: post
    uri: https://api.shodan.io/shodan/alert?key=<SHODAN_API_KEY>
    body:
      encoding: UTF-8
      string: '{"name":"Test alert","filters":{"ip":"198.20.88.0/24"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"triggers": {}, "name": "Test alert", "created": "2019-04-30T07:37:45.241934",
        "expires": 0, "expiration": null, "filters": {"ip": ["198.20.88.0/24"]}, "id":
        "GAMHXP3VXL0VS2FX", "size": 256}'
  recorded_at: Tue, 30 Apr 2019 07:37:22 GMT
recorded_with: VCR 4.0.0
