---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/shodan/alert/GAMHXP3VXL0VS2FX/info?key=<SHODAN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"size": 256, "name": "Test alert", "created": "2019-04-30T07:37:45.241000",
        "expires": 0, "expiration": null, "filters": {"ip": ["198.20.88.0/24"]}, "id":
        "GAMHXP3VXL0VS2FX", "triggers": {}}'
  recorded_at: Tue, 30 Apr 2019 07:37:44 GMT
recorded_with: VCR 4.0.0
