---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/shodan/host/104.25.89.97?key=<SHODAN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"region_code": null, "tags": [], "ip": 1746491745, "area_code": null,
        "latitude": 37.751000000000005, "hostnames": [], "postal_code": null, "dma_code":
        null, "country_code": "US", "org": "Cloudflare", "data": [{"hash": -1484251186,
        "ip": 1746491745, "org": "Cloudflare", "isp": "Cloudflare", "transport": "tcp",
        "data": "HTTP/1.1 200 OK\r\nDate: Tue, 30 Apr 2019 01:18:25 GMT\r\nContent-Type:
        text/html; charset=UTF-8\r\nTransfer-Encoding: chunked\r\nConnection: keep-alive\r\nSet-Cookie:
        __cfduid=d446dcd79052c68c8c3aaddcbc62326131556587104; expires=Wed, 29-Apr-20
        01:18:24 GMT; path=/; domain=.155.56.84.213; HttpOnly; Secure\r\nVary: Accept-Encoding\r\nX-Frame-Options:
        DENY\r\nX-Content-Type-Options: nosniff\r\nX-XSS-Protection: 1; mode=block\r\nStrict-Transport-Security:
        max-age=63072000; includeSubDomains\r\nX-Hacker: If you''re reading this then
        you should check out careers.155.56.84.213 :)\r\nExpect-CT: max-age=604800,
        report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"\r\nServer:
        cloudflare\r\nCF-RAY: 4cf5ae78ade39d38-AMS\r\n\r\n", "asn": "AS13335", "port":
        443, "ssl": {"dhparams": null, "tlsext": [{"id": 65281, "name": "renegotiation_info"},
        {"id": 11, "name": "ec_point_formats"}, {"id": 35, "name": "SessionTicket"},
        {"id": 5, "name": "status_request"}], "versions": ["TLSv1", "-SSLv2", "-SSLv3",
        "TLSv1.1", "TLSv1.2", "TLSv1.3"], "acceptable_cas": [], "cert": {"sig_alg":
        "ecdsa-with-SHA256", "issued": "20190417000000Z", "expires": "20191024235959Z",
        "pubkey": {"bits": 256, "type": "dsa"}, "version": 2, "extensions": [{"data":
        "0\\x16\\x80\\x14@\\tag\\xf0\\xbc\\x83qO\\xde\\x12\\x08,o\\xd4\\xd4+v=\\x96",
        "name": "authorityKeyIdentifier"}, {"data": "\\x04\\x14p\\x9blR\\xc4%\\xf5#\\xde\\xea\\xa3\\x97\\xc3\\xf7\\x12\\x12\\x12]\\x02\\x85",
        "name": "subjectKeyIdentifier"}, {"critical": true, "data": "\\x03\\x02\\x07\\x80",
        "name": "keyUsage"}, {"critical": true, "data": "0\\x00", "name": "basicConstraints"},
        {"data": "0\\x14\\x06\\x08+\\x06\\x01\\x05\\x05\\x07\\x03\\x01\\x06\\x08+\\x06\\x01\\x05\\x05\\x07\\x03\\x02",
        "name": "extendedKeyUsage"}, {"data": "0F0:\\x06\\x0b+\\x06\\x01\\x04\\x01\\xb21\\x01\\x02\\x02\\x070+0)\\x06\\x08+\\x06\\x01\\x05\\x05\\x07\\x02\\x01\\x16\\x1dhttps://secure.comodo.com/CPS0\\x08\\x06\\x06g\\x81\\x0c\\x01\\x02\\x01",
     [...]
