---
http_interactions:
- request:
    method: get
    uri: https://exploits.shodan.io/api/search?facets=&key=<SHODAN_API_KEY>&page=1&query=python
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"matches": [{"source": "CVE", "_id": "2009-0317", "description": "Untrusted
        search path vulnerability in the Python language bindings for Nautilus (nautilus-python)
        allows local users to execute arbitrary code via a Trojan horse Python file
        in the current working directory, related to a vulnerability in the PySys_SetArgv
        function (CVE-2008-5983).", "osvdb": [], "bid": [33442], "cve": ["CVE-2009-0317"],
        "msb": []}, {"source": "CVE", "_id": "2008-3949", "description": "emacs/lisp/progmodes/python.el
        in Emacs 22.1 and 22.2 imports Python script from the current working directory
        during editing of a Python file, which allows local users to execute arbitrary
        code via a Trojan horse Python file.", "osvdb": [], "bid": [31052], "cve":
        ["CVE-2008-3949"], "msb": []}, {"source": "CVE", "_id": "2013-2099", "description":
        "Algorithmic complexity vulnerability in the ssl.ma[...]
