---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/account/profile?key=<SHODAN_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"member": true, "credits": 0, "display_name": null, "created": "2019-03-28T01:05:44.940000"}'
  recorded_at: Tue, 30 Apr 2019 07:36:06 GMT
recorded_with: VCR 4.0.0
