---
http_interactions:
- request:
    method: get
    uri: https://api.shodan.io/shodan/host/count?facets=country:10&key=<SHODAN_API_KEY>&query=nginx
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Hacker:
      - If you're reading this then you should check out careers.shodan.io :)
    body:
      encoding: ASCII-8BIT
      string: '{"matches": [], "facets": {"country": [{"count": 6513358, "value":
        "US"}, {"count": 2898482, "value": "CN"}, {"count": 1382328, "value": "DE"},
        {"count": 845797, "value": "FR"}, {"count": 752064, "value": "RU"}, {"count":
        515902, "value": "NL"}, {"count": 451995, "value": "GB"}, {"count": 434677,
        "value": "JP"}, {"count": 411461, "value": "HK"}, {"count": 299241, "value":
        "IE"}]}, "total": 18372339}'
  recorded_at: Tue, 30 Apr 2019 07:15:59 GMT
recorded_with: VCR 4.0.0
